/* Fondo general */
.login-bg {
    -fx-background-color: #121A2F; /* Azul marino oscuro del mockup */
}

/* Tarjeta principal */
.login-card {
    -fx-background-color: #F8F9FA; /* Blanco / gris muy claro */
    -fx-background-radius: 12;
    -fx-padding: 40 45 30 45;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 25, 0, 0, 10);
}

/* Cuadro del Logo */
.logo-box {
    -fx-background-color: #121A2F;
    -fx-background-radius: 8;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
}

.logo-icon {
    -fx-icon-color: white;
    -fx-icon-size: 32px;
}

/* Textos Superiores */
.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: 900;
    -fx-font-family: "Arial"; /* Ajusta según la tipografía de tu proyecto */
    -fx-text-fill: #111111;
}

.login-subtitle {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #888888;
    -fx-letter-spacing: 2px;
}

/* Título de Sección con línea verde */
.section-title-container {
    -fx-spacing: 10px;
}

.section-line {
    -fx-background-color: #1F7D65; /* Verde esmeralda */
    -fx-min-width: 4px;
    -fx-pref-width: 4px;
    -fx-min-height: 20px;
}

.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #223344;
}

/* Etiquetas de los inputs */
.login-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #555555;
}

/* Contenedor del Input (HBox) */
.input-container {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 8 12;
    -fx-spacing: 10;
}

/* Para que el TextField real sea invisible y parezca parte del HBox */
.login-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-prompt-text-fill: #B0B0B0;
}

/* Iconos de los inputs */
.input-icon, .action-icon {
    -fx-icon-color: #666666;
    -fx-icon-size: 16px;
}

.btn-icon{
    -fx-icon-color: #e5edeb;
    -fx-icon-size: 24px;
}

/* Icono accionable (El ojito) */
.action-icon {
    -fx-text-fill: #666666;
    -fx-cursor: hand;
}
.action-icon:hover {
    -fx-text-fill: #121A2F;
}

/* Botón de Ingreso */
.login-btn {
    -fx-background-color: #121A2F;
    -fx-background-radius: 6;
    -fx-padding: 12 20;
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: #1E2B4D;
}

.btn-text, .btn-icon {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

/* Errores */
.error-message {
    -fx-text-fill: #ff5566;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* Footer */
.footer-text {
    -fx-font-size: 9px;
    -fx-text-fill: #999999;
}